@using WebSite.Controllers
<div class="col-sm-12">
    <div class="row">
        <img class="text-with-image col-sm-4" src="~/Content/Images/main-page-image.jpg" />
        <h1 class="col-sm-12">Join for selling and bying online</h1>
        <p class="col-sm-12">Equal access to participation in the procurement</p>
        <p class="col-sm-12">
            Confirmation Particular user by means of identification specified in paragraph 3 of Order, when placing any information in electronic procurement system.
        </p>
        <p class="col-sm-12">
            Authenticated their credentials provided when registering for e-procurement system.
        </p>
        <p class="col-sm-12">
            Automatic. Registration of all user activity on the electronic platform in special event log.
        </p>
        <p class="col-sm-12">
            The site meets the availability of information and telecommunications system that provides the ability to accommodate at least 8,000 of purchases per day.
        </p>
        <br />
            <div class="col-sm-3 no-padding">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
            </div>
            <div class="col-sm-3 no-padding">
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
            </div>
            <br />
            <br />
            <br />
            <div class="col-sm-3 no-padding">
                @Html.ActionLink("Reset password", "ResetPassword", "Account", routeValues: new { code = Guid.NewGuid().ToString() }, htmlAttributes: new { id = "registerLink" })
            </div>
</div>
</div>
<hr />

<div class="col-sm-12">
    <div class="col-sm-12 header">
        <h2>Our main features</h2>
    </div>
    <div class="row feature-row">
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-online.png" />
            <span class="feature-text">Shop online</span>
        </div>
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-security.png" />
            <span class="feature-text">Security</span>
        </div>
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-notification.png" />
            <span class="feature-text">Notification system</span>
        </div>
    </div>
    <div class="row feature-row">
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-rating.png" />
            <span class="feature-text">Rating system</span>
        </div>
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-filer.png" />
            <span class="feature-text">Filter possibilities</span>
        </div>
        <div class="col-sm-4 feature-container">
            <img class="feature-image" src="~/Content/Images/feature-fire.jpg" />
            <span class="feature-text">Hottest propositions</span>
        </div>
    </div>
</div>