@model IEnumerable<WebSite.Models.NotificationViewModel>

@{
    ViewBag.Title = "Ваші оповіщення";
}

<script type="text/javascript" src="~/Scripts/items.js"></script>

<div class="col-sm-offset-1 col-sm-7">    
    <div class="item-target">
        @Html.Partial("NotificationsView")
    </div>
</div>