@foreach (var feature in ViewBag.Features)
{
    <div class="row form-group">
        <div class="col-sm-4">
            @feature.Name
        </div>
        <div class="col-sm-8">
            <select class="form-control fix-select-margin" id="feature-@feature.Id" onchange="setSelectedFeature('@feature.Id')">
                <option value="" disabled selected>Оберіть характеристику</option>
                @foreach (var value in feature.PosibleValues)
                {
                    <option>@value</option>
                }
            </select>
        </div>
    </div>
}
