body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-with-image {
    float: left;
    margin: 7px 15px 7px 0;
}

.no-padding {
    padding: 0px !important;
}

.feature-image {
    width: 120px;
    height: 120px;
}

.item-container {
    max-width: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
}

.image-caption {
    /*display: block;*/
    width: 100%;
}

.item-width {
    width: 300px;
    display: inline;
}
.item-width img {
    width: inherit;
}

.feature-container {
    display: inline-block;
    text-align: center;
}

.feature-text {
    display: block;
}

.feature-row {
    margin-bottom: 25px;
}

.header {
    text-align: center;
}

.horizontal-scroll-wrapper {
    width: 700px;
    height: 200px;
    overflow: auto;
}

.horizontal-scroll-wrapper > ul {
    white-space: nowrap;
    list-style: none;
}

.horizontal-scroll-wrapper > ul > li {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.horizontal-scroll-wrapper img {
    max-width: 200px;
    height: auto;
    max-height: 140px;
}

.create-item-form img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.create-item-form .description {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.no-margin {
    margin: 0 !important;
}

.create-item-form .create-btn {
    margin-left: 211.97px;
}

.fix-select-margin {
    margin-left: 5px;
}

.input-group-addon {
    width: auto !important;
}

.datepicker {
    min-width: 236.8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.filters {
    border: darkgrey solid 2px;
    border-radius: 15px;
    padding-right: 1%;
    height: auto;
    margin-right: 15px;
}

.filters h1 {
    margin-left: 2%;
}

.filters .checkbox{
    font-size: 16px;
}

.items-all img{
    max-height: 200px;
    width: auto;
}

.items-all .description-block {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-button {
    text-align: center;
    margin-bottom: 2%;
}

.description-container {
    margin-top: 3%;
}

input.error {
    border: 1.5px red solid;
}

span.error {
    color: red;
}

.bootstrap-datetimepicker-widget {
    text-align: center;
}